<div class="container-sm">
    <form action="/add" method="POST">
        <fieldset>
            <legend>Search Team</legend>
            <label class="form-label mb-3">Search Team: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter team name"
                class="form-control mb-3">
    </form>
    <input type="submit" value="Search Team" class="btn btn-success">
</div>