{% layout "layout.liquid" %}
{% block content %}

  <h1>Display random players</h1>
  {% if players.data.length > 0 %}
    <div class="container-md">
      <div class="row">
        {% for player in players.data %}
          <div class="card mb-3" style="width: 70rem;">
            <h5 class="card-header">First Name: {{ player.first_name }}</h5>
            <h5 class="card-header">Last Name: {{ player.last_name }}</h5>
            <h5 class="card-header">Team: {{ player.team.full_name }}</h5>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}