{% layout "layout.liquid" %}
{% block content %}

  <h1>NBA stats tracker</h1>

  {% if loggedIn %}
    <h3>How to use NBA stats tracker</h3>
    <p>Click on search in the navigation bar. Search for the player or team that you want to track. Add the player to your tracker.</p>
    <br>
    <h3>Remove player or team from tracker</h3>
    <p>Go to your tracker. Click on the player or team that you want to remove from your tracker. Click "remove" to remove the player or team from your tracker.</p>
  {% endif %}

{% endblock %}