{% layout "layout.liquid" %}
{% block content %}

  <h1>Display the team and player that you want to track</h1>
  <div class="container-lg">
    <h4>{{players.lastName}}</h4>
    <h4>{{playerStats.ast}}</h4>
    <h4>{{playerStats.}}</h4>
  </div>


{% endblock %}